*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,html{
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(180deg, rgba(255,255,254,1) 0%, rgba(255,248,170,1) 100%);
}